.modal {
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }

  &__article {
    background-color: white;
    z-index: 1;
    width: 50vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    textarea {
      height: 100%;
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      resize: none;
      outline: none;
      border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5vw;
      padding: 0.5vw;
    }
  }

  &__buttonWrap {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 3vh;
  }
}
