.container {
  width: 50vw;
  height: auto;
  margin-bottom: 15vh;

  @media only screen and (max-width: 600px) {
    width: 90vw;
  }

  &__upperButtons {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    Button {
      margin-bottom: 1vh;
    }
  }

  &__lowerButtons {
    display: flex;
    justify-content: center;
    justify-content: flex-start;

    Button {
      margin-top: 1vh;
    }

    :nth-child(2) {
      margin-left: 1vh;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(248, 162, 248);
    padding: 10px 15px;
    gap: 10px;
    border-radius: 8px;
  }
}
