@font-face {
  font-family: "SchoolHolic5";
  src: local("SchoolHolic5"),
    url("../fonts/SchoolHolic5SchoolHolic5-X34ag.otf") format("opentype");
}

.home {
  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;

    h1 {
      font-family: "SchoolHolic5", sans-serif;
      font-size: 4vw;
      color: black;
    }
  }
}
